$colors: (
  #ebe7ef,
  #3f3b00,
  #f6e35a,
  #c3ba78,
  #f8ca31,
  #e1dec7,
  #f8c031,
  #fcd256,
  white,
  #46432f,
  #23221f
);

$font-families: ("Roboto Slab", sans-serif, "Caprasimo", cursive);

$background-colors: (#46432f, rgba(40, 38, 23, 0.95), #3f3b00);

$border-colors: (#f6e35a);
